* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.heading {
  display: flex;
  margin-top: 20px;
}
.hed1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 3.5rem;
  margin-right: 25rem;
}
.head2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 1rem;

  margin-left: 1rem;
  margin-right: 5rem;
}
.for {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-right: 5rem;
}
.about {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-right: 3rem;
}
.search {
  display: flex;
  align-items: center;

  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 5rem;
}
#search {
  border: 0.1rem solid black;
  font-family: "Poppins", sans-serif;
  border-radius: 0.7rem;
  height: 2rem;
  width: 15rem;
  padding-left: 1rem;
}
.lo {
  border: 0.1rem solid black;
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.4rem;
  margin-left: 3rem;
}
#iglass {
  
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.3rem;
  border-left: 0.1rem solid black;
  height: 2rem;
  margin: 14.3rem;
  font-weight: 500;
cursor: pointer;
}

.for:hover {
  text-decoration: underline;
  cursor: pointer;
}
.about:hover {
  text-decoration: underline;
  cursor: pointer;
}
.head2:hover {
  text-decoration: underline;
  cursor: pointer;
}
.lo:hover {
  cursor: pointer;
}
.content {
  height: 18rem;
  width: 20rem;
  margin-top: 2rem;
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
}
.place {
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
}
.date {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
}
.temp {
  margin-top: 1rem;
  font-size: 6rem;
}
.cloud {
  font-size: 1.1rem;
  font-weight: 400;
}
.updown {
  display: flex;
  margin-top: 0.3rem;
  gap: 1rem;
}
#up{
  color: red;

}
#down{
  color:blue;
}
.analysis{
  display: flex;
  
}